.header-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

#nav-button {
    background-color: cornflowerblue;
}

img {
    width: 500px;
}

p {
    font-family:'Times New Roman', Times, serif;
    color: white;
    background-color: darkblue;
}

body {
    background-color:dimgrey;
}

.container {
    background-color: dimgray;
}

#page-title {
    font-size: 65px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    img {
        width: 250px;
    }
}

